body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

h1, h2, h3, h4, p {
    font-family: 'Raleway';
    font-weight: 200;
    text-transform: uppercase;
    color: #000;
}

a {
    text-decoration: none;
}

a:hover {
         text-decoration: none;
	}

.jumbotron{
    background-image: url(../images/13.jpg) ;
    background-position: right top;
    background-size: cover;
    position: relative;
    padding: 8% 0;
    margin-bottom: 0px;
}


.logo{
    width: 60%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.jumbotron a:hover{
    text-decoration: underline;
}


.like.green {
	color: green;
}

h1 {
	font-size: '42px';
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
}

.fa {
	margin: 10px;
}

.fa-15x {
    font-size: 1.5em;
}

.container {
	text-align: center;
    outline: 0;
    padding: 0;
}

.main {
    margin-right: 0;
    padding-right: 0;
}

.recommendations{
    border: 1px solid #aaa;
    color: #aaa;
    background: rgba(250,250,250,0.9);
    text-align: center;
    margin-top: 15px;
}

.recommendation_box > div  {
    display: inline-block;
    margin: 10px auto 10px;
    border: 1px solid #aaa;
}

.recommendation_box > div > a {
    display: block;
    padding: 13px;
    background-color: white;
    color: #000;
}

.suggestForMood {
    color: #FBB13E;
}

.recommendation_box > div > a:hover {
    text-decoration: underline;
} 

.album_cover {
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,1);
}

.album_cover:hover {
    background-color: rgba(0,0,0,0.5);
    opacity: 0.8;
}
.song_list  {
    text-align: left;
    margin-bottom: 13px;
    padding-left: 0;
    margin-top: 15px;
}

.song_list > a {
	display: inline-block;
	padding: 13px;
	width: 100%;
	border: 1px solid #ccc;
    color: #000;
}


.status{
    position: absolute; 
    bottom: 0;
    left 0;
    display: center;
	width: 100%;
	border-top: 1px solid #ccc;
    color: grey;
    background: rgba(0,0,0,0.4);
    padding: 0.2% 0px;
    text-align: center;
}    
    

.controls{
    background-color: rgba(0,0,0,0.3);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    display: table;
}

.controls a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #87CFC3;
}
.controls > a:hover {
    color: #87CFC3;
}
    
.status > a{
    color: white;
}


.song_list > a:hover {
    text-decoration: underline;
}


.playing {
	background-color: #E8E8E8;
}

.songname{
    color: #ffffff;
}

.back:focus, .fwd:focus, .playButton:focus, .pause:focus {
    outline: 0;
}


<!--MEDIA QUERY STUFF-->

/*Medium screens*/
@media only screen and (max-width : 500px), only screen and (max-device-width : 500px) {

    .controls{
        width: 100px;
        height: 100px;

    }
    
}


<!--MEDIA QUERY STUFF-->