body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

a:hover {
         text-decoration: none;
	}

.jumbotron{
    background-image: url(../images/13.jpg) ;
    background-position: right top;
    background-size: cover;
    position: relative;
    padding: 8% 0;
    
}


.logo{
    width: 60%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.jumbotron a:hover{
    color: grey;
}


.like.green {
	color: green;
}

h1 {
	font-size: '42px';
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
}

.fa {
	margin: 10px;
}

.container {
	text-align: center;
    outline: 0;
}


.recommendations{
    text-align: right;
    border: 1px solid #ccc;
    padding: 13px;
    color: grey;
    background: rgba(0,0,0,0.1);
   
}

.recommendation_box > div > a {
    display: block;
}
.song_list  {
    text-align: left;
    margin-bottom: 13px;
}

.song_list > a {
	display: inline-block;
	padding: 13px;
	width: 100%;
	border: 1px solid #ccc;
    color: grey;
}


.status{
    position: absolute; 
    bottom: 0;
    left 0;
    display: center;
	width: 100%;
	border-top: 1px solid #ccc;
    color: grey;
    background: rgba(0,0,0,0.4);
    padding: 0.2% 0px;
    text-align: center;
}    
    

.controls{
    /*background: grey;*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    display: table;
    border: 5px solid white;

}

.controls a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}
    
.status > a{
    color: white;
}


.song_list > a:hover {
    background-color: grey;
    color: white;
}


.playing {
	background-color: #E8E8E8;
}

.songname{
    color: #ffffff;
}

.back:focus, .fwd:focus, .playButton:focus, .pause:focus {
    outline: 0;
}


<!--MEDIA QUERY STUFF-->

/*Medium screens*/
@media only screen and (max-width : 500px), only screen and (max-device-width : 500px) {

    .controls{
        width: 100px;
        height: 100px;

    }
    
}


<!--MEDIA QUERY STUFF-->